html{
    scroll-behavior: smooth;
}
body {
    background-image: url(ImagesLp/unsplash.jpg);
    background-size:contain;
    background-color: rgba(0, 0, 0, 0,5);
    background-repeat: repeat;
    font-family: 'Open Sans';
}
h1{
    color: white;
    border: solid 5px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.7);
    font-size: 100px;
    padding: 15px;
    margin: 100px;
    border-radius: 50px;
}
h2{
    color: white;
    border: solid;
    text-align: center;
    background-color: rgba(255, 255,255,0.3);
    font-size: 50px;
}
#navbar{
    display: flex;
    width: auto;
    height: 55px;
    margin:10px;
    padding: 10px;
    position:sticky;
    z-index: 3;
    top: 0;
}
button{
    flex: 1;
    font-size: 20px;
    height: 75px;
    width: 200px;
    color: black;
    border: 5px solid;
    background-color: white;
    border-radius: 10px;
    font-family:'Open Sans' ;
}
button:hover{
    color: blue;
}
#button1{
    border-color: cadetblue;
}
#button2{
    border-color: darkorange;
}
#button3{
    border-color: red;
}
#container{
    border: white;
    border-color: white;
    height: auto;
    width: auto;
    display: flex ;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
#container2{
    border: white;
    height: auto;
    display: flex ;
    flex-wrap: wrap;
    gap: 20px;
    border-color: white;
}
#container3{
    border: white;
    height: auto;
    display: flex ;
    flex-wrap: wrap;
    gap: 20px;
    border-color: white;
}
#heading1{
    position: relative;
    top:0;
    font-size: 50px;
    background-color: cadetblue;
    border: 5px solid;
    border-color: cadetblue;
    border-radius: 50px;
}
#heading2{
    position: relative;
    top:0;
    font-size: 50px;
    background-color: darkorange;
    border: 5px solid;
    border-color: darkorange;
    border-radius: 50px;
}
#heading3{
    position: relative;
    top:0;
    font-size: 50px;
    background-color: red;
    border: 5px solid;
    border-color: red;
    border-radius: 50px;
}
#p1{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: auto;
    border: solid 5px;
    border-color: cadetblue;;
    border-radius: 50px;
    margin: 30px;
}
#p1:hover{
    scale: 1.1;
}
#p2{
    padding: 10px;
    background-color: white;
    width: 300px;
    height: auto;
    border: solid 5px;
    border-color: cadetblue;
    border-radius: 50px;
    margin: 30px;
}
#p2:hover{
    scale: 1.1;
}
#p3{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: auto;
    border: solid 5px;
    border-color: cadetblue;
    border-radius: 50px;
    margin: 30px;
    margin-left: 200px;
}
#p3:hover{
    scale: 1.1;
}
#p4{
    padding: 10px;
    background-color: white;
    width: 800px;
    height: auto;
    border: solid 5px;
    border-color: cadetblue;
    border-radius: 50px;
    margin-left: 100px;
}
#p4:hover{
    scale: 1.1;
}
#p5{
    padding: 10px;
    background-color: white;
    width: 550px;
    height: 450px;
    border: solid 5px;
    border-color: darkorange;
    border-radius: 50px;
    margin: 30px;
    margin-left: 60px;
}
#p5 img{
    width: 450px;
}
#p5:hover{
    scale: 1.1;
}
#p6{
    padding: 10px;
    background-color: white;
    width: 450px;
    height: auto;
    border: solid 5px;
    border-color: darkorange;
    border-radius: 50px;
    margin: 30px;
}
#p6 img{
    height: 380px;
}
#p6:hover{
    scale: 1.1;
}
#p7{
    padding: 10px;
    background-color: white;
    width: 850px;
    height: auto;
    border: solid 5px;
    border-color: darkorange;
    border-radius: 50px;
    margin-left: 250px;
    margin-bottom: 30px;

}
#p7:hover{
    scale: 1.1;
}
#p7 img{
    width: 500px;
    height: auto;
}
#p8{
    padding: 10px;
    background-color: white;
    width: 750px;
    height: auto;
    border: solid 5px;
    border-color: darkorange;
    border-radius: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}
#p8:hover{
    scale: 1.1;
}
#p9{
    padding: 10px;
    background-color: white;
    width: 350px;
    height: auto;
    border: solid 5px;
    border-color: darkorange;
    border-radius: 50px;
    margin-left: 50px;
}
#p9:hover{
    scale: 1.1;
}
#p10{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: 300px;
    border: solid 5px;
    border-color: red;
    border-radius: 50px;
    margin-left: 50px;
}
#p10 img{
    width: 400px;
    height: auto;
}
#p10:hover{
    scale: 1.1;
}
#p11{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: auto;
    border: solid 5px;
    border-color: red;
    border-radius: 50px;
    margin-left: 50px;
}
#p11:hover{
    scale: 1.1;
}
#p12{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: 350px;
    border: solid 5px;
    border-color: red;
    border-radius: 50px;
    margin-left: 70px
}
#p12 img{
    width: 300px;
    height:auto;
}
#p12:hover{
    scale: 1.1;
}
#p13{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: auto;
    border: solid 5px;
    border-color: red;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 80px
}
#p13:hover{
    scale: 1.1;
}
#p14{
    padding: 10px;
    background-color: white;
    width: 500px;
    height: auto;
    border: solid 5px;
    border-color: red;
    margin-top: 70px;
    border-radius: 50px;
    margin-left: 70px
}
#p14:hover{
    scale: 1.1;
}
img{
    height: auto;
    width: 250px;
    border: solid 2px;
    border-color: black;
}
p{
    font-size: 20px;
    color: black;
}